Repository DreadedX/siranga: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, test

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        args: ["--force-exclude"]

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: cargo +nightly fmt
        language: system
        types: [rust]
        args: ["--", "--check"]
        # For some reason some formatting is different depending on how you invoke?
        pass_filenames: false

      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: cargo clippy
        language: system
        args: ["--", "-D", "warnings"]
        types: [file]
        files: (\.rs|Cargo.lock)$
        pass_filenames: false

      - id: audit
        name: audit
        description: Audit packages
        entry: cargo audit
        language: system
        pass_filenames: false
        verbose: true
        always_run: true

      - id: test
        name: test
        description: Rust test
        entry: cargo test
        language: system
        args: ["--workspace"]
        types: [file]
        files: (\.rs|Cargo.lock)$
        pass_filenames: false

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint

Added build action and kubernetes manifests
  .gitea/workflows/build.yaml
  .pre-commit-config.yaml
  .sops.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  manifests/certificate.yaml
  manifests/config-map-authelia-acl.yaml
  manifests/deployment.yaml
  manifests/ingress-route.yaml
  manifests/kustomization.yaml
  manifests/namespace.yaml
  manifests/secret-tunnel-key.yaml
  manifests/service-user.yaml
  manifests/service.yaml
  src/lib.rs
Due: fmt, clippy, test

Insert header that is missing from traefik
  src/auth.rs
  src/tunnel.rs
Due: fmt, clippy, test

Ignore paste unmaintained for now
  .cargo/audit.toml
Due: none

Added tunnel stats
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/tunnel.rs
  src/tunnel/tui.rs
  src/units.rs
  src/wrapper.rs
Due: fmt, clippy, test

Check for unused crates before commit
  .pre-commit-config.yaml
Due: none

Improved how stats are handled
  src/lib.rs
  src/stats.rs
  src/tunnel.rs
  src/tunnel/tui.rs
  src/units.rs
  src/wrapper.rs
  test.yaml
Due: fmt, clippy, test

Massive refactor
  src/handler.rs
  src/lib.rs
  src/main.rs
  src/server.rs
  src/tunnel.rs
  src/tunnel/registry.rs
  src/tunnel/tui.rs
Due: fmt, clippy, test

Tunnel tui functions are now implemented on Tunnel
  src/tui.rs
  src/tunnel/tui.rs
Due: fmt, clippy, test

Moved http service out of Registry into separate struct
  src/auth.rs
  src/lib.rs
  src/main.rs
  src/tunnel/mod.rs
  src/tunnel/registry.rs
  src/web.rs
Due: fmt, clippy, test

Reorganized files
  src/cli.rs
  src/helper/animals.rs
  src/helper/animals.txt
  src/helper/mod.rs
  src/helper/units.rs
  src/io/input.rs
  src/io/mod.rs
  src/io/stats.rs
  src/io/terminal_handle.rs
  src/lib.rs
  src/main.rs
  src/ssh/handler.rs
  src/ssh/mod.rs
  src/ssh/renderer.rs
  src/stats.rs
  src/tunnel/mod.rs
  src/tunnel/registry.rs
  src/web/auth.rs
  src/web/mod.rs
  src/web/response.rs
Due: fmt, clippy, test

Reformat imports properly
  .rustfmt.toml
  src/bin/generate_key.rs
  src/helper/animals.rs
  src/io/stats.rs
  src/io/terminal_handle.rs
  src/main.rs
  src/ssh/handler.rs
  src/ssh/mod.rs
  src/ssh/renderer.rs
  src/tunnel/mod.rs
  src/tunnel/registry.rs
  src/web/auth.rs
  src/web/mod.rs
  src/web/response.rs
Due: fmt, clippy, test

Add external dns entry for tunnel ssh service
  manifests/service.yaml
Due: none

Get application version from git
  Cargo.lock
  Cargo.toml
  src/ssh/handler.rs
  src/ssh/renderer.rs
Due: fmt, clippy, test

Fixed help styling
  src/ssh/handler.rs
Due: fmt, clippy, test

Clear screen properly on start
  src/io/terminal_handle.rs
Due: fmt, clippy, test

Rendering now happens from a separate task
  src/ssh/handler.rs
  src/ssh/renderer.rs
Due: fmt, clippy, test

Update tunnel stats every redraw, auto redraw once a second
  src/ssh/renderer.rs
  src/tunnel/mod.rs
  src/tunnel/tui.rs
Due: fmt, clippy, test

Automatically hide columns if they do not fit
  src/lib.rs
  src/ssh/renderer.rs
  src/tunnel/tui.rs
Due: fmt, clippy, test

Fixed reported version
  .gitea/workflows/build.yaml
  src/main.rs
Due: fmt, clippy, test

Simplified build
  .gitea/workflows/build.yaml
Due: none

Removed test file
  test.yaml
Due: none

Added README
  .assets/screenshot.png
  README.md
Due: none

Changed name to siranga
  Cargo.lock
  Cargo.toml
  Dockerfile
  manifests/deployment.yaml
  manifests/ingress-route.yaml
  manifests/kustomization.yaml
  manifests/namespace.yaml
  manifests/secret-siranga-key.yaml
  manifests/service-user.yaml
  manifests/service.yaml
  src/main.rs
Due: fmt, clippy, test

Manifests latest tag now tracks latest tagged release instead of latest build
  .gitea/workflows/build.yaml
Due: none

Improved error message when failing to parse ports
  src/main.rs
Due: fmt, clippy, test

Fixed conflict with service links
  manifests/deployment.yaml
  manifests/ingress-route.yaml
  manifests/service.yaml
Due: none

Output json logs except when running through cargo
  src/main.rs
Due: fmt, clippy, test

Switch to authelia-controller
  manifests/access-control-rule.yaml
  manifests/config-map-authelia-acl.yaml
  manifests/kustomization.yaml
Due: none

Added LICENSE
  Cargo.toml
  LICENSE
Due: none

Added dockerignore to improve caching
  .dockerignore
Due: none

Fixed version string
  .gitea/workflows/build.yaml
  Dockerfile
  src/lib.rs
  src/main.rs
  src/ssh/handler.rs
  src/ssh/renderer.rs
  src/version.rs
Due: fmt, clippy, test

Highlight port in red if tunnel failed to open
  src/io/stats.rs
  src/tunnel/mod.rs
  src/tunnel/tui.rs
Due: fmt, clippy, test

Use store instead of fetch_add for atomics
  src/io/stats.rs
Due: fmt, clippy, test

Changed syntax used in build.yaml
  .gitea/workflows/build.yaml
Due: none

Set rust toolchain
  .cargo/config.toml
  .dockerignore
  Dockerfile
  rust-toolchain.toml
Due: none

Update rust 1.85 -> 1.86
  Dockerfile
  rust-toolchain.toml
Due: none

Updated crates
  Cargo.lock
Due: clippy, test

Updated authelia acl helper
  helper/k8s.yaml
Due: none

Added suggestion to enable quiet mode for ssh client
  README.md
Due: none

Implemented more graceful shutdown
  Cargo.lock
  Cargo.toml
  src/ldap.rs
  src/lib.rs
  src/main.rs
  src/ssh/handler.rs
  src/ssh/mod.rs
  src/ssh/renderer.rs
  src/web/mod.rs
Due: fmt, clippy, test
